body {
	margin: 0;
	font-family: 'Gilroy';
	background-color: #000;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gilroy/Gilroy-Regular.woff') format('woff'),
        url('Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.first-section {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	margin-bottom: 111px;
	display: flex;
	padding-top: 36.14px;
}

.header__logo {
	background-image: url(../img/logo.png);
	width: 83.97px;
	height: 44.3px;
	margin-right: 122px;
}

.first-section__content {
	display: flex;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	margin-right: 381px;
}

.header__menu_mobile,
.menu-mobile,
.menu-mobile__tel {
	display: none;
}

.menu__item {
	font-weight: 800;
	font-size: 15px;
	color: #fff;
	margin-right: 60px;
	padding-top: 20px;
	text-decoration: none;
}

.menu__item:last-child {
	margin-right: 0;
}

.header__tel {
	text-decoration: none;
	font-weight: 900;
	font-size: 18px;
	line-height: 25px;
	color: #F13365;
	padding-top: 16px;
}

.first-section__title {
	font-weight: 800;
	font-size: 63px;
	line-height: 63px;
	color: #fff;
	margin-bottom: 30px;
}

.first-section__title:before {
	display: block;
    content: "";
    border-top: 2px solid #F13365;
    width: 52px;
    margin-bottom: 47px;
}

.first-section__button {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	padding: 16px 38px;
	border: 2px solid #F13365;
	display: block;
	width: 109px;
	margin-bottom: 165px;
}

.first-section__button:hover {
	background-color: #F13365;
	transition: background-color 0.7s ease;
}

.first-section__img {
	background-image: url(../img/rocket.png);
	width: 634.31px;
	height: 323px;
	transform: rotate(2.33deg);
}

.second-section {
	background-color: #101010;
}

.second-section__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 40px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.second-section__title:before {
	display: block;
    content: "";
    border-top: 2px solid #F13365;
    width: 30px;
    margin-bottom: 30px;
}

.second-section__content {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 110px;
}

.second-section__subtitle {
	font-weight: 900;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.02em;
	color: #F13365;
	margin-bottom: 70px;
}

.second-section__menu {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	padding-bottom: 94px;
}

.section-menu__item {
	padding: 50px 35px;
	background: linear-gradient(210.77deg, #191919 18.87%, #191919 83.23%);
	width: 380px;
	margin-bottom: 30px;
	margin-right: 30px;
	box-sizing: border-box;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

.section-menu__item:hover {
	background: #F13365;
	transition: background-color 0.5s ease-in;
}

.section-menu__item:hover .section-menu__item_arrow {
	background-image: url(../img/pink-arrow.png);
}

.section-menu__item:nth-child(3n) {
	margin-right: 0;
}

.section-menu__item_title {
	font-weight: 800;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #fff;
}

.section-menu__item_title--short {
	padding: 64px 35px;
}

.section-menu__item_arrow {
	background-image: url(../img/arrow.png);
	width: 26px;
    height: 17px;
    margin-top: 21px;
}

.section-menu__item_arrow--short {
    margin-top: 7px;
}

@media (max-width: 1260px) {
	.section-menu__item {
		width: 320px;
	}

	.second-section__menu,
	.second-section__content,
	.first-section {
		width: 1020px;
	}

	.header__menu {
		margin-right: calc(100% - 717px);
	}

	.menu__item {
	    margin-right: 40px;
	}

	.header__logo {
	    margin-right: 100px;
	}

	.first-section,
	.second-section__content {
		padding-right: 30px;
		padding-left: 30px;
		box-sizing: border-box;
	}

	.first-section__title {
	    font-size: 53px;
	    line-height: 53px;
	}

	.first-section__img {
	    width: 470px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    margin-right: -30px;
	    margin-top: 30px;
	}
}

@media (max-width: 1080px) {
	.second-section__menu,
	.second-section__content,
	.first-section {
		width: 890px;
	}

	.section-menu__item:nth-child(3n) {
		margin-right: 30px;
	}

	.section-menu__item:nth-child(2n) {
		margin-right: 0;
	}

	.first-section__img {
    	width: 420px;
    }

    .second-section__menu {
	    padding-bottom: 50px;
	}
}

@media (max-width: 950px) {
	.second-section__content {
		width: 670px;
	}

	.second-section__menu {
		width: 100%;
	}

	.first-section__img {
    	display: none;
    }

    .first-section__content {
	    width: 670px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.first-section {
		width: 100%;
	}

    .second-section__content {
    	padding-right: 0;
    	padding-left: 0;
    }

    .first-section__button {
    	margin-bottom: 115px;
    }
}

@media (max-width: 830px) {
	.visible {
		display: block!important;
	}

	.second-section__content,
	.first-section__content,
	.header {
		width: 590px;
	}

	.header__menu {
		display: none;
	}

	.menu-mobile {
		background-color: #F13365;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.menu-mobile__container {
		display: flex;
		flex-direction: column;
		width: 590px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
		align-items: center;
	}

	.menu-mobile__closer {
		width: 23px;
	    height: 23px;
	    background-image: url(../img/close.png);
	    background-size: contain;
	    position: absolute;
	    margin-left: 280px;
	    top: 46px;
	}

	.menu-mobile__item {
		color: #fff;
		font-weight: 800;
    	font-size: 30px;
    	margin-top: 30px;
    	text-decoration: none;
	}

	.header__menu_mobile {
		display: block;
		width: 30px;
		margin-top: 10px;
	}

	.header__menu_mobile div {
		height: 3px;
		border-radius: 1px;
		background-color: #F13365;
		margin-bottom: 7px;
	}

	.header__logo {
	    margin-right: 0;
	}

	.header {
		justify-content: space-between;
		margin-right: auto;
		margin-left: auto;
	}

	.section-menu__item {
		padding: 38px 25px;
	    width: 280px;
	    height: 128px;
	}

	.section-menu__item_title--short {
		padding: 53px 25px;
	}

	.section-menu__item_title {
	    font-size: 25px;
	    line-height: 25px;
	}
}

@media (max-width: 670px) {
	.second-section__content {
		width: 300px;
	}

	.first-section__content {
		width: 290px;
	}

	.section-menu__item,
	.section-menu__item:nth-child(3n) {
		margin-right: 0;
	}

	.first-section__title {
	    font-size: 39px;
	    line-height: 39px;
	}

	.first-section__title:before {
	    width: 30px;
	    margin-bottom: 30px;
	}

	.first-section, .second-section__content {
	    padding-right: 20px;
	    padding-left: 20px;
	}
}

@media (max-width: 630px) {
	.header {
		width: 100%;
	}

	.header__tel {
		display: none;
	}

	.menu-mobile__item {
		font-size: 20px;
	}

	.header__logo {
		margin-left: 70px;
	}

	.header__menu_mobile {
		margin-right: 70px;
	}

	.menu-mobile__closer {
		margin-left: 0;
		position: absolute;
		right: 90px;
	}

	.menu-mobile__container {
		width: 100%;
	}
}

@media (max-width: 470px) {
	.header {
		width: 290px;
	}

	.header__logo {
		margin-left: 0;
	}

	.header__menu_mobile {
		margin-right: 0;
	}

	.menu-mobile__closer {
		left: calc(100% - 80px);
	}

	.first-section__button {
		padding: 12px 30px;
	}
}

@media (max-width: 320px) {
	.first-section__title {
	    font-size: 35px;
	    line-height: 35px;
	}

	.first-section__content,
	.header {
		width: 260px;
	}

	.second-section__content {
	    width: 280px;
	}

	.menu-mobile__closer {
		right: 20px;
		left: initial;
	}
}