@font-face {
	font-family: 'RobotoBold';
	src: url('./Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('./Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansCaptionBold';
	src: url('./PTSansCaption-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('./MuseoSansCyrl700.ttf');
	font-weight: normal;
	font-style: normal;
}